.count {
  float: right;
  margin-top: -45px;
  border: 1px inset var(--text-accent);
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
}

.count:hover {
  color: var(--text-muted);
  border: 1px inset var(--text-selection);
}