.count {
  float: right;
  border: 1px inset var(--text-accent);
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
}

.count:hover {
  color: var(--text-muted);
  border: 1px inset var(--text-selection);
}

.ref-table {
  margin-top: 10px;
  text-align: center;
}

.ref-table button {
  background: transparent;
  position: relative;
  right: 45px;
}

.ref-table th {
  min-width: 150px;
}